<a href="https://colab.research.google.com/github/reyaput/Data/blob/main/Problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [10]:
drive_url = "https://drive.google.com/uc?export=download&id=1uFanO9ZsnruhuzXIXnr1tkK1W0u9TlUn"

sample = pd.read_csv(drive_url, encoding='latin1')

display(sample.head())

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [12]:
missing_values = sample.isnull().sum()

display(missing_values)

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [15]:
sample = sample.drop(["ADDRESSLINE2", "STATE", "TERRITORY"], axis=1)

display(sample.head())

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,Brown,Julie,Medium

In [17]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  CITY              2823 non-null   object
 17  POSTALCODE        2747 non-null   object
 18  COUNTRY           2823 non-null   object
 19  CONTACTLASTNAME   2823 non-null   object
 20  CONTACTFIRSTNAME  2823 non-null   object
 21  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(13)
memory usage: 485.3+ KB

In [25]:
sample['ORDERDATE'] = pd.to_datetime(sample['ORDERDATE'])
sample['MSRP'] = pd.to_numeric(sample['MSRP'])

display(sample.head())
sample.info()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,...,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,Brown,Julie,Medium

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  CITY              2823 non-null   object
 17  POSTALCODE        2747 non-null   object
 18  COUNTRY           2823 non-null   object
 19  CONTACTLASTNAME   2823 non-null   object
 20  CONTACTFIRSTNAME  2823 non-null   object
 21  DEALSIZE          2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(12)
memory usage: 485.3+ KB

In [24]:
print("Nilai unik di kolom 'PRODUCTLINE':")
display(sample['PRODUCTLINE'].unique())

print("\nNilai unik di kolom 'COUNTRY':")
display(sample['COUNTRY'].unique())

Nilai unik di kolom 'PRODUCTLINE':

array(['Motorcycles', 'Classic Cars', 'Trucks and Buses', 'Vintage Cars',
       'Planes', 'Ships', 'Trains'], dtype=object)

Nilai unik di kolom 'COUNTRY':

array(['USA', 'France', 'Norway', 'Australia', 'Finland', 'Austria', 'UK',
       'Spain', 'Sweden', 'Singapore', 'Canada', 'Japan', 'Italy',
       'Denmark', 'Belgium', 'Philippines', 'Germany', 'Switzerland',
       'Ireland'], dtype=object)

In [29]:
sample['SALES'] = sample['QUANTITYORDERED'] * sample['PRICEEACH']

display(sample.head())

sample['CALCULATED_SALES'] = sample['QUANTITYORDERED'] * sample['PRICEEACH']
differences_after_correction = sample[~np.isclose(sample['SALES'], sample['CALCULATED_SALES'])]

if not differences_after_correction.empty:
    print("Masih ditemukan perbedaan setelah koreksi:")
    display(differences_after_correction[['ORDERNUMBER', 'SALES', 'CALCULATED_SALES', 'QUANTITYORDERED', 'PRICEEACH']])
else:
    print("Kolom 'SALES' sekarang sudah benar dan konsisten dengan 'QUANTITYORDERED * PRICEEACH'.")

sample = sample.drop(columns=['CALCULATED_SALES'])

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10159,49,100.00,14,4900.00,2003-10-10,Shipped,4,10,2003,...,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,Brown,Julie,Medium

Kolom 'SALES' sekarang sudah benar dan konsisten dengan 'QUANTITYORDERED * PRICEEACH'.

In [30]:
duplicates = sample[sample.duplicated(subset=['ORDERNUMBER'], keep=False)]

if not duplicates.empty:
    print(f"Ditemukan {len(duplicates)} baris duplikat berdasarkan ORDERNUMBER.")
    print("Berikut beberapa contoh baris duplikat:")
    display(duplicates.sort_values(by='ORDERNUMBER').head())

    initial_rows = sample.shape[0]
    sample.drop_duplicates(subset=['ORDERNUMBER'], keep='first', inplace=True)
    removed_rows = initial_rows - sample.shape[0]
    print(f"\n{removed_rows} baris duplikat telah dihapus. Jumlah baris setelah penghapusan: {sample.shape[0]}")
else:
    print("Tidak ditemukan baris duplikat berdasarkan ORDERNUMBER.")

sample.info()

Ditemukan 2807 baris duplikat berdasarkan ORDERNUMBER.
Berikut beberapa contoh baris duplikat:

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
680,10100,50,67.80,2,3390.00,2003-01-06,Shipped,1,1,2003,...,S18_2248,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,Young,Valarie,Medium
1267,10100,22,86.51,4,1903.22,2003-01-06,Shipped,1,1,2003,...,S18_4409,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,Young,Valarie,Small
578,10100,30,100.00,3,3000.00,2003-01-06,Shipped,1,1,2003,...,S18_1749,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,Young,Valarie,Medium
2024,10100,49,34.47,1,1689.03,2003-01-06,Shipped,1,1,2003,...,S24_3969,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,Young,Valarie,Small
830,10101,26,100.00,1,2600.00,2003-01-09,Shipped,1,1,2003,...,S18_2795,"Blauer See Auto, Co.",+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,60528,Germany,Keitel,Roland,Medium

2516 baris duplikat telah dihapus. Jumlah baris setelah penghapusan: 307
<class 'pandas.core.frame.DataFrame'>
Index: 307 entries, 0 to 2733
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       307 non-null    int64
 1   QUANTITYORDERED   307 non-null    int64
 2   PRICEEACH         307 non-null    float64
 3   ORDERLINENUMBER   307 non-null    int64
 4   SALES             307 non-null    float64
 5   ORDERDATE         307 non-null    datetime64[ns]
 6   STATUS            307 non-null    object
 7   QTR_ID            307 non-null    int64
 8   MONTH_ID          307 non-null    int64
 9   YEAR_ID           307 non-null    int64
 10  PRODUCTLINE       307 non-null    object
 11  MSRP              307 non-null    int64
 12  PRODUCTCODE       307 non-null    object
 13  CUSTOMERNAME      307 non-null    object
 14  PHONE             307 non-null    object
 15  ADDRESSLINE1      307 non-null    object
 16  CITY              307 non-null    object
 17  POSTALCODE        298 non-null    object
 18  COUNTRY           307 non-null    object
 19  CONTACTLASTNAME   307 non-null    object
 20  CONTACTFIRSTNAME  307 non-null    object
 21  DEALSIZE          307 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(7), object(12)
memory usage: 55.2+ KB

In [32]:
duplicates_after_check = sample[sample.duplicated(subset=['ORDERNUMBER'], keep=False)]

if not duplicates_after_check.empty:
    print(f"Masih ditemukan {len(duplicates_after_check)} baris duplikat berdasarkan ORDERNUMBER.")
    print("Berikut beberapa contoh baris duplikat:")
    display(duplicates_after_check.sort_values(by='ORDERNUMBER').head())
else:
    print("Tidak ditemukan baris duplikat berdasarkan ORDERNUMBER setelah penghapusan.")

sample.info()

Tidak ditemukan baris duplikat berdasarkan ORDERNUMBER setelah penghapusan.
<class 'pandas.core.frame.DataFrame'>
Index: 307 entries, 0 to 2733
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       307 non-null    int64
 1   QUANTITYORDERED   307 non-null    int64
 2   PRICEEACH         307 non-null    float64
 3   ORDERLINENUMBER   307 non-null    int64
 4   SALES             307 non-null    float64
 5   ORDERDATE         307 non-null    datetime64[ns]
 6   STATUS            307 non-null    object
 7   QTR_ID            307 non-null    int64
 8   MONTH_ID          307 non-null    int64
 9   YEAR_ID           307 non-null    int64
 10  PRODUCTLINE       307 non-null    object
 11  MSRP              307 non-null    int64
 12  PRODUCTCODE       307 non-null    object
 13  CUSTOMERNAME      307 non-null    object
 14  PHONE             307 non-null    object
 15  ADDRESSLINE1      307 non-null    object
 16  CITY              307 non-null    object
 17  POSTALCODE        298 non-null    object
 18  COUNTRY           307 non-null    object
 19  CONTACTLASTNAME   307 non-null    object
 20  CONTACTFIRSTNAME  307 non-null    object
 21  DEALSIZE          307 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(7), object(12)
memory usage: 55.2+ KB